################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.env
/BackEnd/Scola360/Scola360.Academico/Scola360.Academico.csproj.user
