services:
  api:
    build:
      context: .
      dockerfile: BackEnd/Scola360/Scola360.Academico/Dockerfile
    container_name: sistemaacademico-api
    environment:
      DOTNET_RUNNING_IN_CONTAINER: "true"

      # Connection string do PostgreSQL gerenciado pelo Coolify
      ConnectionStrings__Default: "${CONN_STRING}"

      # CORS
      Cors__Origins: "${CORS_ORIGINS}"

      # JWT
      Jwt__Issuer: "${JWT_ISSUER}"
      Jwt__Audience: "${JWT_AUDIENCE}"
      Jwt__Key: "${JWT_KEY}"
      Jwt__DurationMinutes: "${JWT_DURATION}"

    ports:
      - "8080:5111"
    command: tail -f /dev/null
    restart: unless-stopped
